.header {
  max-width: 320px;
  min-height: 56px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 610px) {
  .header {
    max-width: 450px;
    margin: 45px auto 0;
  }
}

@media (min-width: 760px) {
  .header {
    max-width: 600px;
    min-height: 74px;
  }
}

@media (min-width: 900px) {
  .header {
    max-width: 750px;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 882px;
  }
}
